<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo"><img src="<%= asset_path('logo.png') %>"></a>
    <h1>Guides</h1>
      <p>30 minute Coaching Sessions</p>
        <a type="button" class="btn btn-lg btn-primary" <%= link_to 'Christy Schumm', christy_path %></a>
        <a type="button" class="btn btn-lg btn-primary" <%= link_to 'Natalia Stanton Jr.', natalia_path %></a>
        <a type="button" class="btn btn-lg btn-primary" <%= link_to 'Nola Murazik V', nola_path %></a>
        <a type="button" class="btn btn-lg btn-primary" <%= link_to 'Elyssa O’Kon', elyssa_path %></a>
        <a type="button" class="btn btn-lg btn-primary" <%= link_to 'Dr. Geovany Keebler', geovany_path %></a>
       
       
    
   </div>
</div>
   
